@model ICollection<Microsoft.AspNetCore.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
    <h4>Registered Logins</h4>
    <table class="table">
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.LoginProvider</td>
                    <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            <form asp-antiforgery="true" asp-controller="Account" asp-action="Disassociate" method="post" class="form-horizontal">
                                <div>
                                    @*<input type="hidden" asp-for="account.LoginProvider" />*@
                                    @*<input type="hidden" asp-for="account.ProviderKey" />*@
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account" />
                                </div>

                            </form>
                        }
                        else
                        {
                                @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
