@model Isas.Models.InsurerViewModels.TracingAgentViewModel

@{
    ViewData["Title"] = "Edit Tracing Agent";
}

<h2>Edit Tracing Agent</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Tracing Agent</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TracingAgent.ID" />
        <input type="hidden" asp-for="TracingAgent.PayeeClassID" />
        <div class="form-group">
            <label asp-for="TracingAgent.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TracingAgent.Name" class="form-control" />
                <span asp-validation-for="TracingAgent.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
