@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Insurance Schemes Administration System - ISAS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Isas</h2>
        <p>
            Isas is an application that has been developed using
            .NET Core 2.0 in an ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built from ground up</h2>
        <p>
            To ensure that all code in the application is
            void of any unclean code from older technologies.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Work in progress</h2>
        <p>
            Essentially it is be an evolving application development
            until it reaches maturity stage ready for production deployment.
        </p>
    </div>
</div>
