@model Isas.Models.Repairer

@{
    ViewData["Title"] = "Repairer Details";
}

<h2>Repairer Details</h2>

<div>
    <h4>Repairer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt></dt>
        <dd>
            @await Component.InvokeAsync("Addresses", new { id = Model.ID, containername = "Repairers" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" asp-route-payeeclassId="@Model.PayeeClassID" class="btn btn-info">Return</a>
</div>
