@*@model Isas.Models.ApplicationUser -- Commented out by Levi Nkata 26/04/2019*@
@model Isas.Models.AccountViewModels.RegisterViewModel

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="Edit" asp-antiforgery="true">
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Password" />
        <input type="hidden" asp-for="ConfirmPassword" />
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-md-2 control-label">Role</label>
            <div class="col-md-10">
                <select name="RoleId" class="form-control" asp-items="@ViewBag.RoleId"></select>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="RoleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RoleId" class="form-control" asp-items="@Model.RoleList"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}